*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
}


/* CSS NAVBAR*/

@media screen and (max-width: 768px){
	.mobile{
		display: block;
	}
	.desktop{
        display: none;
    }
	.w50{
		width: 100%;
	}
	.time > .w50{
		width: 100%;
		margin:15px 0;
	}
	#wallImg{
        visibility: hidden;
    }
    .wallpaper
    {
        background-color: #1C1C1C;
    }
}



.wallpaper img{
    justify-content: center;
    align-items: center;
    /*background: url(../img/banner.jpg); */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.walltext
{
    position: absolute;
    top: 50%;
    font-weight: 50px;
}



/* Index */

@media screen and(max-width: 600px)
{
    #wallImg
    {
        visibility: hidden;
    }
}

/* CSS SECTION ONE */



/* CSS SECTION TWO */

#two{
    background-color: #363636;
    justify-content: center;
}

.classes{
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 70px;
}

.img{
    width: 350px;
    
}



/* CSS PRICES */

/*
#banner-2{
    justify-content: center;
    align-items: center;
    background: url(../img/banner-2.jpg);
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
*/

.prices{
    background-color: #1C1C1C; 
}



.content{
    width: 300px;
    background:  #1C1C1C;
    border-radius: 20px;
    margin:5px;
    float: left;
    margin-top: 8%;
    text-align: center;
    border-width: medium;
    border-style: solid;
    border-color: #fff;
}

.price{
    height: 120px;
    margin: 2% auto 0;
    text-align: center;
}

.detail{
    margin-top: -50px;
}

.content h1{
    font-size: 20px;
    color: #fff;
    line-height: 5;
    text-transform: uppercase;
    text-align: center;
}

.price h2{
    font-size: 40px;
    color: #fff;
    text-align: center
}

.detail h4{
    font-size: 15px;
    text-align: center;
    color: #fff;
    line-height: 3;
}


.centro
{
    z-index: 2000;
    
}


section.parallax{
    position: relative;
    width: 100%;
    padding:40px 0;
    min-height: 300px;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section.parallax > .center{
    position: relative;
    
    z-index: 2;
    max-width: 960px;
    color: white;
}

section.parallax h2{
    text-align: center;
}
section.parallax p{
    margin-top: 15px;
}

.overlay-parallax{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(20,20,20,0.6);

}

.bg-home input[type="text"] {
    font-family: lato;
    color: #fff;
    background: 0 0;
    border: 0;
    
}

@media (min-width: 960px)
{
    section.parallax > .center
    {
        left: 15%;
    }
}

/* CSS FOOTER*/

footer{
    background-color: #363636;
    display: block;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 70px;
}